@import "constants";

body {
  background-color: $color-background;
  font-family: 'Titillium Web', sans-serif;
  font-size: 10px;
  text-align: center;
  padding: 0;
  min-width: $min-width;
}

#content {
  margin: 0 auto;
  max-width: $max-width;
  background-color: $color_light_grey;
}

#main {
  height: 585px;
  background-image: url("/assets/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;

  h1 {
    position: relative;
    top: 40%;
    color: $color_white;
    font-size: 3rem;
    padding-top: 1rem;
  }
}

#books {
  background-color: $color_orange;
  height: 18rem;

  h1 {
    color: $color_white;
    font-size: 2rem;
    height: 3rem;
    padding-top: 1rem;
  }

  div {
    width: 54rem;
    margin: 0 auto;

    div {
      background-color: $color_white;
      padding: 2rem;
      margin: 2rem;
      width: 23rem;
      height: 25.5rem;
      float: left;

      p {
        font-size: 18px;
      }

      button {
        height: 2rem;
        padding: 0 1rem;
        color: $color_white;
        background-color: $color_orange;
        border-radius: 0.25rem;
        border-color: $color_orange;
        border-style: solid;
        font-size: 1rem;

        &:hover {
          background-color: $hover_orange;
          border-color: $hover_orange;
        }
      }
    }

  }
}

#spacer {
  clear: both;
  height: 3rem;
}
